<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <SqlUnitTesting>
    <ExecutionContext Provider="System.Data.SqlClient" ConnectionString="Data Source=nlams00859;Initial Catalog=prv_prj_unittest;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"
        CommandTimeout="30" xdt:Transform="SetAttributes"/>
    <PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="Data Source=nlams00859;Initial Catalog=prv_prj_unittest;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"
      CommandTimeout="30" xdt:Transform="SetAttributes" />
  </SqlUnitTesting>
</configuration>
